@media (max-width: 719px) {
    #footer_component-vue #extra_link,
    #footer_component-vue #aai-copyright {
        float: none;
    }
}

@media (max-width: 719px) {
    #footer_component-vue #aai-copyright {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 720px) {
    #footer_component-vue #aai-copyright #copyright {
        text-align: left;
    }
    #footer_component-vue #aai-copyright a {
        font-size: x-small;
    }
}