@charset "UTF-8";
.banner-hero-list[data-v-5a166d41] {
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.banner-hero-list .banner-hero-list-block[data-v-5a166d41] {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0px;
    padding: 0px;
}
.banner-hero-list .banner-hero-list-block .banner-hero-list-wrap[data-v-5a166d41] {
      position: relative;
      overflow: hidden;
      left: 0px;
      top: 0px;
      display: block;
      opacity: 1;
      list-style: none;
      -webkit-transition: all 0.25s ease 0s;
      transition: all 0.25s ease 0s;
}
.banner-hero-list .banner-hero-list-block .banner-hero-list-wrap > li:first-child.banner-hero-list-item[data-v-5a166d41] {
        border-top: 0px;
}
.banner-hero-list .banner-hero-list-block .banner-hero-list-wrap > li.banner-hero-list-item[data-v-5a166d41] {
        list-style-type: none;
        /* Убираем маркеры */
        margin-bottom: 2px;
        border-top: 2px solid #fff;
        width: 100vw;
        display: block;
        position: relative;
        min-height: 1px;
        float: left;
}

.af-banner-hero[data-v-2e896f18] {
  position: relative;
  background: #fff;
}
.af-banner-hero .banner-hero-image-block[data-v-2e896f18] {
    display: block;
    width: 100%;
    padding-top: 36%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.af-banner-hero .banner-hero-image-block .banner-hero-image-inner[data-v-2e896f18] {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      font-size: 20px;
}
.af-banner-hero .banner-hero-image-block .banner-hero-image-inner .banner-hero-image-wrap[data-v-2e896f18] {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
}
.af-banner-hero .banner-hero-image-block .banner-hero-image-inner .banner-hero-image-wrap .af-banner-hero-image-link-block[data-v-2e896f18] {
          text-indent: 150%;
          white-space: nowrap;
          overflow: hidden;
}
.af-banner-hero .banner-hero-image-block .banner-hero-image-inner .banner-hero-image-wrap a[data-v-2e896f18] {
          text-decoration: none;
}
.af-banner-hero .banner-hero-image-block .banner-hero-image-inner .banner-hero-image-wrap a.af-banner-hero-image-link-block[data-v-2e896f18] {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            outline: none;
}
.af-banner-hero .banner-hero-image-block .banner-hero-image-inner .banner-hero-image-wrap .banner-hero-image-img[data-v-2e896f18] {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
}
.af-banner-hero .banner-hero-image-block .banner-hero-image-inner .banner-hero-image-wrap .banner-hero-image-img img[data-v-2e896f18] {
            width: 100%;
            height: auto;
            border: 0;
}
@media only screen and (max-width: 1600px) {
.banner-hero-image-inner[data-v-2e896f18] {
    font-size: 18px;
}
}
@media only screen and (max-width: 1500px) {
.banner-hero-image-inner[data-v-2e896f18] {
    font-size: 16px;
}
}
@media only screen and (max-width: 1200px) {
.banner-hero-image-inner[data-v-2e896f18] {
    font-size: 14px;
}
}
@media only screen and (max-width: 1100px) {
.banner-hero-image-inner[data-v-2e896f18] {
    font-size: 10px;
}
}
@media only screen and (max-width: 768px) {
.af-banner-hero .banner-hero-image-block[data-v-2e896f18] {
    padding-top: 108%;
}
}

