@media (max-width: 719px) {
    h1.page-title {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 0;
        font-size: 1.4em;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}