// #footer-component-vue {
//     float: left;
// }
#footer-component-vue .aai-inner {
    margin: 0 auto;
    min-width: 960px;
    max-width: 1180px;
    padding-bottom: 20px;
    padding: 0 1%;
}

#footer-component-vue .aai-inner {
    *background-color: #ebebeb;
    box-sizing: border-box;
}

#footer-component-vue .aai-fmiddle {
    padding: 40px 0 60px;
}

#footer-component-vue .aai-footer-span {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

#footer-component-vue>.white-version {
    color: #7c7c7c;
    background: #ECECEC;
}

#footer-component-vue>.white-version h4 {
    color: #474747;
}

#footer-component-vue>.black-version {
    color: #c8c8c8;
    background: #242424;
}

#footer-component-vue>.black-version h4 {
    color: #d8d8d8;
}