@media (max-width: 959px) and (min-width: 720px) {
    #footer_component-vue .aai-fnav li>a {
        padding: 0;
    }
}

@media only screen and (max-width: 720px) {
    body #footer_component-vue,
    body #footer_component-vue.aai-maxi-w .aai-inner {
        min-width: auto;
        min-width: inherit;
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
        border: 0;
    }
}

@media (max-width: 719px) {
    #footer_component-vue .aai-inner {
        padding-bottom: 0px;
    }
}

@media (max-width: 959px) {
    #footer_component-vue .aai-inner,
    #footer_component-vue .aai-inner,
    .aai-sub-inner {
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }
}

@media (max-width: 719px) {
    #footer_component-vue .aai-fmiddle {
        padding: 30px 20px 10px;
    }
}

@media only screen and (max-width: 720px) {
    body #footer_component-vue .aai-fmiddle {
        padding: 1px 0 0px;
    }
    #footer_component-vue .aai-footer-span {
        margin-left: 10px;
        margin-right: 40px;
        padding-right: 0px;
        width: 95% !important;
    }
}

@media (max-width: 719px) {
    #footer_component-vue .aai-fnav li {
        padding: 14px 0;
    }
}

@media only screen and (max-width: 720px) {
    body #footer_component-vue .aai-fbootom {
        padding: 0 3px;
    }
}

@media (max-width: 719px) {
    #footer_component-vue .aai-fbootom {
        padding: 0 20px;
    }
}

@media (max-width: 719px) {
    #footer_component-vue #extra_link,
    #footer_component-vue #aai-copyright {
        float: none;
    }
}

@media (max-width: 720px) {
    #footer_component-vue .aai-footer-span {
        width: 95% !important;
        overflow: hidden;
        display: block;
        height: 40px;
        border-bottom: 1px solid #CCC;
        margin-bottom: 20px;
        margin-left: 10px;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: height 0.5s ease;
        -moz-transition: height 0.5s ease;
        -o-transition: height 0.5s ease;
        transition: height 0.5s ease;
    }
}

@media only screen and (max-width: 720px) {
    body #footer_component-vue .aai-footer-span:first-child {
        margin-top: 20px;
        margin-left: 10px;
    }
    body #footer_component-vue {
        padding: 0px;
    }
}