.prof-hero-img .prof-hero-img-inner {
    position: relative;
    display: block;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    img {
        display: block;
        height: auto;
        width: 100%
    }
}