  .sectrow {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 4.411765em;
      font-size: 17px;
    
      .text {
          width: 77.45098%;
          margin-left: auto;
          margin-right: auto;
          box-sizing: border-box;
          font-size: inherit;

          p,
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
              font-size: 108%;
              line-height: 1.6;
          }
      }
  }