@media (max-width: 719px) {
    #footer-component-vue #extra_link,
    #footer-component-vue #aai-copyright {
        float: none;
    }
}

@media (max-width: 719px) {
    #footer-component-vue #aai-copyright {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 720px) {
    #footer-component-vue #aai-copyright #copyright {
        text-align: left;
    }
}