#footer-component-vue #footer_country_link>img {
    float: left;
    display: block;
    font-size: 14px;
}

#footer-component-vue #extra_link {
    float: left;
}

#footer-component-vue #footer_country_link>a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
}