#grid-parsys-desc-three-mobile-four-or-two {
    display: block;

    .af-banner {
        background: #fff;
        position: relative;
        display: flex;
        justify-content: space-between;

        .banner-block {
            display: block;
            padding-top: 0;
            overflow: hidden;
        }

        &.af-banner_x3.desktop-banner {
            .banner-block {
                width: 33.1%;
            }
        }

        &.af-banner_x2.mobile-banner {
            flex-wrap: wrap;

            .banner-block {
                width: 49.5%;
            }
        }
    }
}
