#grid-parsys_desc-three-mobile-four-or-two_component-vue {
    display: block;

    .af-parsys {
        position: relative;
        display: flex;
        justify-content: space-between;

        .parsys-block {
            display: block;
            padding-top: 0;
            overflow: hidden;
        }
    }

    .mobile-parsys {
        .af-parsys {
            flex-wrap: wrap;
            
            .parsys-block {
                width: 49.9%;
            }
        }
    }

    .desktop-parsys {
        .parsys-block {
            width: 33.3%;
        }
    }
}
