@media (max-width: 959px) {
    .cmc-hot-prod {
        margin-top: 40px;
    }
    .commercial-inner {
        min-width: 100%;
        max-width: 1180px;
        width: auto;
    }
    #hot-product-groups_component-vue img {
        max-width: 100%!important;
    }
}