.proart__hero_banner_top__title {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: 0;
    padding-top: 60px;
    width: 80%;
    transform: translateX(-50%);
    text-align: center;
}

.text-gradient-gold {
    background-image: linear-gradient(45deg, #f3ec78 10%, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.text_bold {
    font-style: normal !important;
    font-weight: bold;
}

.proart__hero_banner_top__title .content-title {
    position: relative;
    display: inline-block;
    font-size: 52px;
    line-height: 1;
    *text-transform: uppercase;
}