.proart__hero_banner_top__title {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: 0;
    padding-top: 60px;
    width: 80%;
    transform: translateX(-50%);
    text-align: center;
}

.text-gradient-gold {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(39deg, #ceb497 0%, #766050 100%);
}

.text_bold {
    font-style: normal !important;
}

.proart__hero_banner_top__title .content-title {
    position: relative;
    display: inline-block;
    font-size: 52px;
    line-height: 1;
    text-transform: uppercase;
}