.banner-small-wrap {
    .banner-small-info {
        .banner-small-title {
            font-size: 1.6em;
            line-height: 0.8em;
            margin: 0 0 10px;
            font-weight: 400;
        }
    }
}