.banner-middle-image-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.banner-middle-image-wrap .af-link-block {
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
}

a {
    text-decoration: none;

    &.af-link-block {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        outline: none;
    }
}
.banner-middle-image-wrap .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.banner-middle-image-wrap .banner-img img {
    width: 100%;
    height: auto;
    border: 0;
}

