@media (max-width: 720px) {
    #proart__categories-nav_component-vue {
        padding-bottom: 95px;
    }
}

@media (max-width: 1300px) and (min-width: 721px) {
    #proart__categories-nav_component-vue {
        padding-bottom: 137px;
    }
}

@media (min-width: 1301px) {
    #proart__categories-nav_component-vue {
        padding-bottom: 170px;
    }
}