.af-banner-middle {
    position: relative;
    background: #fff;
}

.af-banner-middle .banner-middle-block {
    display: block;
    width: 100%;
    padding-top: 36%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.af-banner-middle .banner-middle-block .banner-middle-inner {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 20px;
}
