.banner-small-wrap {
    .banner-small-img {
        width: 55%;
        height: 100%;
        right: 0;
        left: auto;
        position: absolute;
        top: 0;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        img {
            height: 100%;
            width: auto;
            border: 0;
        }
    }
}