.proart__hero_banner_top__image .img {
    width: 2560px;
    height: 686px;
    position: absolute;
    left: 50%;
    margin-left: -1280px;
}

.proart__hero_banner_top__image .img {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}